/* Additional custom styles */
*{
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    background-image: url('https://watermark.lovepik.com/photo/40021/9739.jpg_wh1200.jpg');
    background-size: cover;
}

.row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}



/* Menu section styling  */
#menu ul li{
   list-style: none;
    display: flex;
    margin: 0 20px;
    position: relative;
   
}

#menu ul li a{
    text-decoration: none;
    text-transform: capitalize;

}

.nav-item {
   text-align: end;
}
/* adding the hover effect */
#menu ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: red;
    position: absolute;
    left: 0;
    bottom: 1px;
    transition: 0.5s;
}

#menu ul li:hover::after{
    width: 100%;
}


/* Image Slider styling */
#imageSlider {
    border-radius: 10px;
    overflow: hidden;
    padding: 20px;
    flex-basis: 60%;
  }

  #imageSlider img {
    width: 100%;
    height: 500px;
  }

  #imageSlider .carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  #imageSlider .carousel-caption h5 {
    font-size: 20px;
    margin-bottom: 5px;
  }

  #imageSlider .carousel-caption p {
    font-size: 16px;
    margin: 0;
  }

/* Login section styling */
#login-section {
    max-width: 400px;
    margin: 0 auto;
}

.card {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px; /* Adjust the width as needed */
    margin-bottom: 20px;
}

#login-btn {
    margin-left: 10px;
    width: 200px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid lightblue;
    background: transparent;
    cursor: pointer;
}

.btn-btn-primary{
    margin: 20px 10px ;
    width: 100px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid lightblue;
    background: transparent;
    cursor: pointer;
}

#form-group {
    background: white;
    color: black;
    font-size: 20px;
    border-radius: 6px;
}

/* create profile section */
#create-profile-form {
    max-width: 400px;
    margin: 0 auto;
}

.btn-btn-primary {
    margin: 20px 10px ;
    width: 100px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid lightblue;
    background: transparent;
    cursor: pointer;
}


/* search section */
#search-form {
    margin-top: 20px;
    display: flex;
    border-radius: 20px;
    color: black;
    background-color: antiquewhite;
}


#search-input {
    width: 80%;
}

    
.btn-btn-primary {
    margin: 20px 10px ;
    width: 100px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid lightblue;
    background: transparent;
    cursor: pointer;
}

/* Recipes and Favourites Sections */
.recipe, #favourites {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.recipe {
    width: 30%;
    margin-bottom: 20px;
}

.recipe img {
    width: 100%;
    height: auto;
}

.card-img-top {
    max-width: 100%;
    height: auto;
}

.list-group-item {
    padding: 0.25rem 0; /* Adjust padding as needed */
}

.card-body {
    padding: 1rem; /* Adjust padding as needed */
}

.btn-view-recipe {
    margin-top: 10px;
}

.recipe-card {
    width: 300px; /* Adjust the width of each recipe card */
    padding: 20px;
    border: 1px solid #ccc;
    margin-bottom: 20px; /* Space between recipe cards */
    margin-right: 20px; /* Space between recipe cards horizontally */
    transition: transform 0.5s;
}

.row {
    margin-right: -20px; /* Compensate for the right margin of the last card in each row */
}

.card {
    border: 1px solid transparent; /* Add initial border */
    transition: border-color 0.3s ease; /* Add transition for smooth effect */
}

.card:hover {
    border-color: lightpink; /* Change border color on hover */
}

/* Clearfix for the row */
.row::after {
    content: '';
    display: table;
    clear: both;
}

.favorited {
    color: red; /* Change the color to your preferred color */
}



/* About Section */
#about {
    padding: 20px;
    border-radius: 10px;
    height: 500px;
    flex-basis: 35%;
    background-color: wheat;
}

  #about h1 {
    color: #333;
    font-size: 60px;
    font-weight: 500;
    font-style:italic;
    margin-bottom: 15px;
    
  }


/* Footer section  */

.social-media i{
    padding: 0;
    background-color: none;
    display: inline-block;
    text-align: center;
    justify-content: space-between;
    margin: 0;
    transition: transform 0.5s;
}

.social-media i:hover{
    color: #ff004f;
    transform: translateY(-5px);
}

.copyright{
    color: white;
    width: 100%;
    text-align: center;
    padding: 0 25px;
    background: #262626;
    font-weight: 300;
}

/* Style for scroll-to-top button */
#scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    display: none;
    border-radius: 10px;
}