/* Additional custom styles */
/* Image Slider styling */
body {
    font-family: 'Arial', sans-serif;
    background-image: url('https://watermark.lovepik.com/photo/40021/9739.jpg_wh1200.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#image-slider {
    border: 2px solid #f2f2f2;
}

.carousel-item img {
    border-radius: 15px;
}

#login-section {
    max-width: 400px;
    margin: 0 auto;
}

.card {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


#search-form {
    margin-top: 20px;
}

#search-input {
    width: 70%;
}

#login-btn {
    margin-left: 10px;
}

/* Recipes and Favourites Sections */
.recipe, #favourites {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.recipe {
    width: 30%;
    margin-bottom: 20px;
}

.recipe img {
    width: 100%;
    height: auto;
}

/* About Section */
#about {
    margin-top: 20px;
}
